<% content_for :hide_navbar, true %>
<div class="container-fluid vh-100 d-flex flex-column p-0">
  <%# scene div %>
  <div id="scene" class="d-flex" style="background-image: url('<%= asset_path("backgrounds/#{@fight.story_level.map_image}") %>');">
    <!-- Left side: Player -->
    <div class="character-container">
      <div class="healthbar-container">
        <%= render 'player_hitpoints' %>
      </div>
      <div class="sprite-container">
        <%= render 'player_sprite' %>
      </div>
    </div>
    <!-- Right side: Enemy -->
    <div class="character-container">
      <div class="healthbar-container">
        <%= render 'enemy_hitpoints' %>
      </div>
      <div class="sprite-container">
        <%= render 'enemy_sprite' %>
      </div>
    </div>
    <div class="textbox-container">
      <%= render 'textbox_contents' %>
    </div>
  </div>
  <%# middle of the page %>
  <div id="menu" class="menu d-flex flex-column">
    <%= render 'menu_contents' %>
  </div>
</div>
