<% content_for :hide_navbar, true %>
<%#
div for the enemy: it takes up the top 1/3. Left side div holds the hpbar, right side div holds the sprite
div for the player: it takes up the bottom 2/3
div for the text box: it takes up the bottom 1/3 and holds a transparent card with the textbox %>

<%# full page div %>
<div class="container-fluid vh-100 d-flex flex-column p-0">

  <%# scene div %>
  <div id="scene" class="d-flex">
    <!-- Left side: Player -->
    <div class="character-container">
      <div class="sprite-container">
        <%= render 'player_sprite' %>
      </div>
      <div class="healthbar-container">
        <%= render 'player_hitpoints' %>
      </div>
    </div>

    <!-- Right side: Enemy -->
    <div class="character-container">
      <div class="sprite-container">
        <%= render 'enemy_sprite' %>
      </div>
      <div class="healthbar-container">
        <%= render 'enemy_hitpoints' %>
      </div>
    </div>

    <div class="textbox-container">
      <%= render 'textbox_contents' %>
    </div>
  </div>

  <%# middle of the page %>

  <div id="menu" class="menu d-flex flex-column">
    <%= render 'menu_contents' %>
  </div>

</div>
