<% content_for :hide_navbar, true %>
<div class="container-fluid vh-100 d-flex flex-column p-0">

  <div id="scene" class="d-flex">
    <!-- Left side: Player -->
    <div class="character-container">
      <div class="healthbar-container">
        <%= render 'fights/player_hitpoints' %>
      </div>
      <div class="sprite-container">
        <%= render 'fights/player_sprite' %>
      </div>
    </div>

    <!-- Right side: Enemy -->
    <div class="character-container">
      <div class="healthbar-container">
        <%= render 'fights/enemy_hitpoints' %>
      </div>
      <div class="sprite-container">
        <%= render 'fights/enemy_sprite' %>
      </div>
    </div>

    <div class="textbox-container">
      <%= render 'question' %>
    </div>
  </div>
  <%# middle of the page %>

  <div id="menu" class="menu d-flex flex-column">
    <%= render 'fight_questions' %>
  </div>
</div>
