<% content_for :hide_navbar, true %>
<!-- All data we need for answer_feedback Stimulus controller is being passed here -->
<div class="container-fluid vh-100 d-flex flex-column p-0" data-controller="answer-feedback"
  data-answer-feedback-correct-index-value="<%= @question.correct_index %>"
  data-answer-feedback-damage-dealt-value="<%= @player_damage %>"
  data-answer-feedback-damage-received-value="<%= @enemy_damage %>"
  data-answer-feedback-damage-multiplier-value="<%= @damage_multiplier %>"
  data-answer-feedback-player-hp-value="<%= @fight.player_hitpoints %>"
  data-answer-feedback-player-max-hp-value="<%= @fight.user.hitpoints %>"
  data-answer-feedback-enemy-hp-value="<%= @fight.enemy_hitpoints %>"
  data-answer-feedback-enemy-max-hp-value="<%= @fight.enemy.hitpoints %>">
  <div id="scene" class="d-flex" data-answer-feedback-target="scene" style="background-image: url('<%= asset_path("backgrounds/#{@fight.story_level.map_image}") %>');">
    <!-- Left side: Player -->
    <div class="character-container" data-answer-feedback-target="player">
      <div class="healthbar-container">
        <%= render 'fights/player_hitpoints' %>
      </div>
      <div class="sprite-container">
        <%= render 'fights/player_sprite' %>
      </div>
    </div>
    <!-- Right side: Enemy -->
    <div class="character-container" data-answer-feedback-target="enemy">
      <div class="healthbar-container">
        <%= render 'fights/enemy_hitpoints' %>
      </div>
      <div class="sprite-container">
        <%= render 'fights/enemy_sprite' %>
      </div>
    </div>
    <div class="textbox-container">
      <%= render 'question' %>
    </div>
  </div>
  <%# middle of the page %>
  <div id="menu" class="menu d-flex flex-column"
     data-controller="answer-highlight"
     data-answer-highlight-correct-index-value="<%= @question.correct_index %>">
    <%= render 'fight_questions' %>
  </div>
</div>
